body {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(187, 183, 183);
    font-family: 'Courier New', Courier, monospace;
}

.header {
    color: rgb(63, 8, 126);
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.control input, .control button {
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: outset;
    border: 1px solid black;
}

.control input {
    width: 150px;
    height: 25px;
}

.control button {
    width: 80px;
    height: 29px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

#addTask {
    background-color: rgb(25, 216, 25);
}

#deleteTasks {
    background-color: red;
    color: white;
    width: 120px;
    height: 29px;
}

li
{
    text-align: left;
    padding: 6px;
}